@model List<string>
@{
    ViewBag.Title = "List blobs";
}

<h2>List blobs</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>
<li><a asp-area="" asp-controller="Blobs" asp-action="ListBlobs">List blobs</a></li>